<!--The content below is only a placeholder and can be replaced.-->



<mat-sidenav-container [ngStyle]="{'height': '100vh'}">
  <mat-sidenav #sidenav 
    [mode]="mode.value"
    [(opened)]="opened" 
    [class.mat-elevation-z2]="true"
    [ngStyle]="{'width': '300px'}">

    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <h4 mat-line>Pavel Gonzales</h4>
        <p mat-line>Premium</p>

        <button mat-mini-fab>
          <mat-icon aria-label="more">more_vert</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <button mat-button *ngFor="let item of sidenavItems" [ngStyle]="{'width': '100%', 'padding': '0', 'text-align': 'left'}">
        <mat-list-item >
          <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
          <h4 mat-line>{{ item.title }}</h4>
        </mat-list-item>
      </button>
      <button mat-button [ngStyle]="{'width': '100%', 'padding': '0', 'text-align': 'left'}">
        <mat-list-item >
          <mat-icon mat-list-icon>exit_to_app</mat-icon>
          <h4 mat-line>Logout</h4>
        </mat-list-item>
      </button>
    </mat-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" [class.mat-elevation-z2]="true">
      <mat-toolbar-row>
        <button mat-icon-button [ngStyle]="{'margin-right': '15px'}" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Translater</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-card>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Text">
            <mat-form-field [ngStyle]="{'width': '100%', 'margin-top': '25px'}">
              <textarea
                matInput
                placeholder="Insert text" 
                matTextareaAutosize 
                matAutosizeMinRows="2"
                matAutosizeMaxRows="5"></textarea>
            </mat-form-field>
          </mat-tab>
          <mat-tab label="Link">
            <mat-form-field [ngStyle]="{'width': '100%', 'margin-top': '25px'}">
              <input matInput placeholder="Insert link" value="">
            </mat-form-field>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
